[DEFAULT]
ConnectionType=initiator
HeartBtInt=300
SenderCompID=invhubIT_HFTaker1
ReconnectInterval=20
FileLogPath=tmp

[SESSION]
BeginString=FIX.4.4
TargetCompID=CNX
SocketConnectHost=bret-fix-ssl.tk1.currenex.com
SocketConnectPort=443

# This one mandatory, while setting skip verify is vulnerable to man-in-the-middle attack. It's a concern.
SocketInsecureSkipVerify=Y
# Timezone on host (Asia/Tokyo)
TimeZone=Local
# Time of day that this FIX session becomes activated.
StartTime=00:00:01
# Time of day that this FIX session becomes deactivated.
EndTime=23:59:59
# For week long sessions, the starting day of week for the session. Use in combination with StartTime.
StartDay=Mon
# For week long sessions, the ending day of week for the session. Use in combination with EndTime.
EndDay=Fri

# XML definition file for validating incoming FIX messages
# We will have to either update the XML or disable DataDictionary, otherwise we get Incorrect NumInGroup count for repeating group error
# DataDictionary=FIX44.xml

# For test
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y